.pokemon-card {
    flex: 0 1 11%;
    text-align: center;;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 3%;
    img {
        width: 100%;
    }
    a {
        text-decoration: none;
    }
}