@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

// Font Variables
$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;

// Styles
body {
  font-family: $open-sans;
  font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $roboto-slab;
  font-weight: normal;
}